{% extends 'acceuil/base.html' %}
    {% block content %}
<section>
    <h2> Bienvenue </h2>
    <article class='info'>
        <div id='slideshow'>
            <ul id="sContent">
                <!---->
                <li class='slide'>
                    <div class='page'>

                        <h4>INFORMATION 1</h4>
                        <p> Olympus Corporation is established in more than a dozen countries and overpowers more than 10,000 heroes around the world. The agency offers these heroes enriching linguistic experiences by collaborating with all these heroes.<br><br> " [...] it's by working together that we will make this world better."<br> INFORMATION </p>
                    </div>
                </li>
                <!---->
                <li class='slide'>
                    <div class='page'>
                        <h4>The Best Ally</h4>
                        <p>At Olympus Corporation, heroes also have the right to safety and comfort. More than 95% of the damages caused during missions are taken care of by the agency without forgetting the care of the employees injured during fights. </p>
                    </div>
                </li>
                <!---->
                <li class='slide'>
                    <div class='page'>
                        <h4>At the Heart of Innovation</h4>
                        <p>The agency has its own laboratories and works hard to provide all heroes with first rate equipment. The quirks are studied to offer costumes and weapons adapted to each.<br><br>Olympus Corporation works in cooperation with  greats scientist of I-Island. </p>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>
<aside>
    <h4> Le site en quelques chiffres </h4>

    <article>
        <h4><a href="{% url "speciesList" %}"> Nombre d'espèce: {{species}} </a> </h4>
        <h4> Nombre de molécule : {{molecule}}</h4>
    </article>

</aside>
{% endblock %}
