{% extends 'acceuil/base.html' %}
    {% block content %}
<section>
    <h2> Bienvenue </h2>
    <article class='info'>
        <div id='slideshow'>
            <ul id="sContent">
                <!---->
                <li class='slide'>
                    <div class='page'>

                        <h4>Origine du site</h4>
                        <p>Site réalisé par des étudiants d'informatique à l'université de Guyane en tant que projet.<br><br>En collaboration avec 2 chimistes.<br><br></p>
                    </div>
                </li>
                <!---->
                <li class='slide'>
                    <div class='page'>
                        <h4>Herbier IRD de Guyane</h4>
                        <p> Le site est en accord avec les donnée de l’Herbier de Guyane qui est dédié à l’étude et à la connaissance de la flore et de la végétation des Guyanes.<br>Site : http://publish.plantnet-project.org/project/caypub </p>
                    </div>
                </li>
                <!---->
                <li class='slide'>
                    <div class='page'>
                        <h4>At the Heart of Innovation</h4>
                        <p>The agency has its own laboratories and works hard to provide all heroes with first rate equipment. The quirks are studied to offer costumes and weapons adapted to each.<br><br>Olympus Corporation works in cooperation with  greats scientist of I-Island. </p>
                    </div>
                </li>
            </ul>
        </div>
    </article>
</section>
<aside>
    <h4> Le site en quelques chiffres </h4>

    <article>
        <h4><a href="{% url "moleculesList" %}"> Nombre de molécule : {{ molecules }}</a></h4>
    </article>

</aside>
{% endblock %}
