{% load static %}
<html>
	<head>
		<title>Yana Faune & Flore</title>
		<link rel="stylesheet" href = "{% static 'css/web.css' %}">
		 <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Lacquer|Nothing+You+Could+Do|Sacramento|Sriracha|Yellowtail&display=swap" rel="stylesheet">
		 <meta charset='UTF-8'>
		  <link rel='icon' type='image.png' href="{% static 'images/logo_site.png' %}"/>
	</head>
	 <!-- Corps du document -->
    <body>
        <!-- Wrapper -->
        <div class='wrapper'>
        	 <header>

                <h1><a href="{% url 'page_acceuil' %}">Yana Faune & Flore" </a></h1>
                <ul id="logNav">
                <img src="./images/connection.png"/>
                {% if user.is_authenticated %}
                    <h2><li>{{ user.username }}</li></h2>
                    <li><a href="{% url "deconnexion" %}">Deconnexion</a></li>
                    {% else %}
                    <li><a href="{% url "connection" %}"> Connexion </a></li>
                    {% endif %}
                </ul>
            </header>   
           <nav>
                <div id="menuD">
                    <ul>
                        <li class= "deroulant">
                            <a href="."> Menu &ensp; </a>
                            <ul class="sous">
                                 <li><a href="{% url 'page_acceuil' %}">Accueil</a></li>
                                <li><a href="{% url "listFaune" %}"> Faune </a></li>
                                <li><a href="{% url "listFlore" %}"> Flore </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menuB">
                    <form >
                        <input id="hall-search" type="search" name="search"/>
                        <input id="search-btn"  type="submit" value="Rechercher"/>
                    </form>
                </div>
            </nav>
            
            <section>
                <form action="{% url "sujet_new" %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit"/>
                </form>
                  
            </section>
                
        </div>
    </body>
</html>
