{% load static %}
<!DOCTYPE html>

<html>
<!-- En tête -->
<head>
    <!-- Fichiers CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/web.css' %}">

    <!-- Encodage UTF8 pour les accents -->
    <meta charset='UTF-8'>

    <!-- Icône de l'onglet -->
    <link rel='shortcut icon' type='image.png' href="/static/images/icon2.png" />

    <!-- Titre de l'onglet -->
    <title></title>
</head>

<body>
    <div class='wrapper'>
        <header>
            <div id="logo">
            <a href="{% url "accueil" %}"><img src="/static/images/icon2.png" border ="0" /></a>
                </div>
            <h1> Yana Faune & Flore </h1>
            <ul id="logNav">
                <!--img src="./images/connection.png"/-->

            </ul>

        </header>
        <nav>
            <div id="menuD">
                <ul>
                    <li class="deroulant">
                        <a href="." class="mini_menu"> Menu &ensp; </a>
                        <ul class="sous">
                            <li><a href="{% url "accueil" %}">Accueil</a></li>
                            <li><a href="{% url "moleculesList" %}"> Flore </a></li>
                            <li><a href="{% url "contact" %}"> Nous Contacter </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="menuB">
                <form action="/search/" method="GET">
                    <input id="query" type="search" name="query" />
                    <input id="search-btn" type="submit" value="Rechercher" />
                </form>
            </div>
            <div>
                {% if user.is_authenticated %}
                <h4>{{ user.username }}</h4>
                <h4><a href="{% url "logout" %}">Deconnexion</a></h4>
                {% else %}
                <h4><a href="{% url "login" %}">Sign In </a></h4>
                <h4><a href="{% url "register" %}">Sign Up</a></h4>
                {% endif %}
            </div>
            


        </nav>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
       <h4><a href="{% url "aPropos" %}"> A propos </a></h4>
    </footer>
    
</body>
</html>













