{% extends 'acceuil/base.html' %}
{% block content %}
	<section>
		{% if error %}
		<P><strong>Utilisateur inconnu ou mauvais mot de passe.</strong></P>
		{% endif %}

		{% if user.is_authenticated %}
		Vous êtes connecté, en tant que {{ user.username }}<br />
		<a href="{% url "deconnexion" %}"> Deconnexion </a>
		{% else %}
		<form action="." method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Se connecter" />
		</form>
		{% endif %}
	</section>
{% endblock %}










