{% load static %}
<!DOCTYPE html>

<html>
	<!-- En tête -->
	<head>
		<!-- Fichiers CSS -->
		<link rel='stylesheet' type='text/css' href="{% static 'css/web.css' %}" media='screen' />

		<!-- Fichiers Javascripts -->
		<script type='text/javascript' src='./js/jquery-2.0.3.min.js'></script>
		<script type='text/javascript' src='./js/web.js'></script>		

		<!-- Encodage UTF8 pour les accents -->
		<meta charset='UTF-8'>
		
		<!-- Icône de l'onglet -->
		<link rel='icon' type='image/png' href='./images/favicon.png' />
	
		<!-- Titre de l'onglet -->
		<title>Yana Faune & Flore</title>
	</head>
	
	
	
	<!-- Corps du document -->
	<body>
		<!-- Wrapper -->
		<div class='wrapper'> 
			<header>
		 		<h1><a href="{% url 'page_acceuil' %}">Yana Faune & Flore</a></h1>
		 	</header>
		 	<section>
		 		{% if error %}
		 		<P><strong>Utilisateur inconnu ou mauvais mot de passe.</strong></P>
		 		{% endif %}

		 		{% if user.is_authenticated %}
		 		Vous êtes connecté, en tant que {{ user.username }}<br/>
		 		<a href="{% url "deconnexion" %}"> Deconnexion </a>
		 		{% else %}
		 		<form action="." method="post">
		 			{% csrf_token %}
		 			{{ form.as_p }}
		 			<input type="submit" value="Se connecter"/>
		 		</form>
		 		{% endif %}
		 	</section>

		</div>
	</body>
</html>











