{% load static %}
<!DOCTYPE html>

<html>
	<!-- En tête -->
	<head>
		<!-- Fichiers CSS -->
		<link rel='stylesheet' href="{% static 'css/web.css' %}" media='screen' />

		<!-- Encodage UTF8 pour les accents -->
		<meta charset='UTF-8'>
		
		<!-- Icône de l'onglet -->
		 <link rel='icon' type='image.png' href="{% static 'images/logo_site.png' %}"/>
	
		<!-- Titre de l'onglet -->
		<title></title>
	</head>
	
	
	
    <!-- Corps du document -->
    <body>
        <!-- Wrapper -->
        <div class='wrapper'>
        	 <header>
                <h1><a href="{% url "page_acceuil" %}">Yana Faune & Flore </h1>
                <ul id="logNav">
                    <!--img src="./images/connection.png"/-->
                     {% if user.is_authenticated %}
                    <h2><li>{{ user.username }}</li></h2>
                    <li><a href="{% url "deconnexion" %}">Deconnexion</a></li>
                    {% else %}
                    <li><a href="{% url "connection" %}"> Connexion </a></li>
                    {% endif %}
                   
                </ul>
            </header>
        	<nav>
                <div id="menuD">
                    <ul>
                        <li class= "deroulant">
                            <a href="#"> Menu &ensp; </a>
                            <ul class="sous">
                                <li><a href="{%url 'page_acceuil' %}"> Acceuil </a></li>
                                <li><a href="{% url "listFlore" %}"> Flore </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menuB">
                    <form >
                        <input id="hall-search" type="search" name="search"/>
                        <input id="search-btn"  type="submit" value="Rechercher"/>
                    </form>
                </div>
            </nav>
            
            <section>
                {% if envoi %} 
                	Votre message a bien été envoyé !
               	 {% endif %}
                <form action="{% url "contact" %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit"/>
                </form>
                  
            </section>
                
        </div>
    </body>
</html>











