{% load static %}
<!DOCTYPE html>

<html>
	<!-- En tête -->
	<head>
		<!-- Fichiers CSS -->
		<link rel='stylesheet' href="{% static 'css/web.css'}" media='screen' />

		<!-- Fichiers Javascripts -->
		<script type='text/javascript' src='./js/jquery-2.0.3.min.js'></script>
		<script type='text/javascript' src='./js/web.js'></script>		

		<!-- Encodage UTF8 pour les accents -->
		<meta charset='UTF-8'>
		
		<!-- Icône de l'onglet -->
		<link rel='icon' type='image/png' href='./images/favicon.png' />
	
		<!-- Titre de l'onglet -->
		<title></title>
	</head>
	
	
	
    <!-- Corps du document -->
    <body>
        <!-- Wrapper -->
        <div class='wrapper'>
            
            <section>
                {% if envoi %} Votre message a bien été envoyé ! {% endif %}
                <form action="{% url "contact" %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit"/>
                </form>
                  
            </section>
                
        </div>
    </body>
</html>











