{% load static %}
<!DOCTYPE html>

<html>
	<!-- En tête -->
	<head>
		<!-- Fichiers CSS -->
		<link rel='stylesheet' href="{% static 'css/web.css' %}" media='screen' />

		<!-- Fichiers Javascripts -->
		<script type='text/javascript' src='./js/jquery-2.0.3.min.js'></script>
		<script type='text/javascript' src='./js/web.js'></script>		

		<!-- Encodage UTF8 pour les accents -->
		<meta charset='UTF-8'>
		
		<!-- Icône de l'onglet -->
		<link rel='icon' type='image/png' href='./images/favicon.png' />
	
		<!-- Titre de l'onglet -->
		<title></title>
	</head>
	
	
	
	<!-- Corps du document -->
	<body>
		<!-- Wrapper -->
		<div class='wrapper'>
            <header>

                <h1><a href="{% url "page_acceuil" %}"  Yana Faune & Flore </h1>
                <ul id="logNav">
                <img src="./images/connection.png"/>
                <li><a href="{% url "connection" %}"> Connection </a></li>
                </ul>
            </header>
            <footer>
                <ul>
                   	<li><a href="{% url "condition" %}"> Condition d'utilisation </a></li>
                    <li><a href="{% url "confident" %}"> Confidentialité </a> </li>
                    <li><a href="{% url "cookies" %}"> Cookies </a></li>
                    <li><a href="{% url "aPropos" %}"> A propos </a></li>
                    <li><a href="{% url "contacter" %}"> Nous Contacter </a></li>
                </ul>
                <p> Les licences </p>
            </footer>
		</div>
	</body>
</html>











