{% load static %}
<!DOCTYPE html>

<html>
	<!-- En tête -->
	<head>
		<!-- Fichiers CSS -->
		<link rel='stylesheet' type='text/css' href="{% static 'css/web.css' %}" media='screen' />

		<!-- Fichiers Javascripts -->
		<script type='text/javascript' src='./js/jquery-2.0.3.min.js'></script>
		<script type='text/javascript' src='./js/web.js'></script>		

		<!-- Encodage UTF8 pour les accents -->
		<meta charset='UTF-8'>
		
		<!-- Icône de l'onglet -->
		 <link rel='icon' type='image.png' href="{% static 'images/logo_site.png' %}"/>
	
		<!-- Titre de l'onglet -->
		<title></title>
	</head>
	
	
	
	<!-- Corps du document -->
	<body>
		<!-- Wrapper -->
		<div class='wrapper'>
            <header>
                
                <h1><a href="{% url "page_acceuil" %}"> Yana Faune & Flore </h1>
                <ul id="logNav">
                    <!--img src="./images/connection.png"/-->
                     {% if user.is_authenticated %}
                    <h2><li>{{ user.username }}</li></h2>
                    <li><a href="{% url "deconnexion" %}">Deconnexion</a></li>
                    {% else %}
                    <li><a href="{% url "connection" %}"> Connexion </a></li>
                    {% endif %}
                </ul>
                
            </header>
             <nav>
                <div id="menuD">
                    <ul>
                        <li class= "deroulant">
                            <a href="."> Menu &ensp; </a>
                            <ul class="sous">
                                 <li><a href="{% url 'page_acceuil' %}">Accueil</a></li>
                                <li><a href="{% url "listFlore" %}"> Flore </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menuB">
                    <form >
                        <input id="hall-search" type="search" name="search"/>
                        <input id="search-btn"  type="submit" value="Rechercher"/>
                    </form>
                </div>
            </nav>

            <section class='listElem'>
                <h2>Listes des plantes</h2><br>
                {% for plante in plante %}    
                    <h2><a href="{% url 'plante_detail' pk=plante.pk %}">{{ plante.nom }}</a></h2>
                    {{ plante.molecule_name }}
                    {{ plante.published_date }}
                {% endfor %}

                <br>

                <div class="pagination">
                    <span class="step_links">
                        {% if plante.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ plante.previous_page_number}}"> previous</a>
                        {% endif %}
                    <span class="current">
                        Page {{ plante.number }} of {{ plante.paginator.num_pages }}.
                    </span>
                        {% if plante.has_next %}
                            <a href="?page={{ plante.next_page_number }}">next</a>
                            <a href="?page={{ plante.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            </section>

            <footer>
                <ul>
                    <li><a href="{% url "condition" %}"> Condition d'utilisation </a></li>
                    <li><a href="{% url "confident" %}"> Confidentialité </a> </li>
                    <li><a href="{% url "cookies" %}"> Cookies </a></li>
                    <li><a href="{% url "aPropos" %}"> A propos </a></li>
                    <li><a href="{% url "contact" %}"> Nous Contacter </a></li>
                </ul>
                <p> Les licences </p>
            </footer>

		</div>
	</body>
</html>











