{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Yana Faune & Flore</title>
		<link rel="stylesheet" href = "{% static 'css/web.css' %}">
		 <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Lacquer|Nothing+You+Could+Do|Sacramento|Sriracha|Yellowtail&display=swap" rel="stylesheet">
		 <meta charset='UTF-8'>
		 <link rel='icon' type='image.png' href="{% static 'images/logo_site.png' %}"/>
		</head>
	<body>
		  <!-- Wrapper -->
        <div class='wrapper'>
            <header>
                
                <a href="{% url "page_acceuil" %}"><img  id = "titre" src="{% static 'images/logo_site_redim.png' %}"></a>
                <ul id="logNav">
                    <!--img src="./images/connection.png"/-->
                    {% if user.is_authenticated %}
                    <h2><li>{{ user.username }}</li></h2>
                    <li><a href="{% url "deconnexion" %}">Deconnexion</a></li>
                    {% else %}
                    <li><a href="{% url "connection" %}"> Connexion </a></li>
                    {% endif %}
                </ul>
                
            </header>
            <nav>
                <div id="menuD">
                    <ul>
                        <li class= "deroulant">
                            <a href="."> Menu &ensp; </a>
                            <ul class="sous">
                                 <li><a href="{% url 'page_acceuil' %}">Accueil</a></li>
                                <li><a href="{% url "listFaune" %}"> Faune </a></li>
                                <li><a href="{% url "listFlore" %}"> Flore </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="menuB">
                    <form >
                        <input id="hall-search" type="search" name="search"/>
                        <input id="search-btn"  type="submit" value="Rechercher"/>
                    </form>
                </div>
            </nav>
            <section>
                <h2> Bienvenue </h2>
                <article class='info'>
                    <div id='slideshow'>
                        <!-- lien du tuto A.C: www.alsacreations.com/tuto/lire/1059-ID-slideshow-css3-animation-keyframes-automatique.html -->
                        <ul id="sContent">
                            <!---->
                            <li class='slide'>
                                <div class='page'>
                                    
                                    <h4>INFORMATION 1</h4>
                                    <p> Olympus Corporation is established in more than a dozen countries and overpowers more than 10,000 heroes around the world. The agency offers these heroes enriching linguistic experiences by collaborating with all these heroes.<br><br> " [...] it's by working together that we will make this world better."<br> INFORMATION </p>
                                </div>
                            </li>
                            <!---->
                            <li  class='slide'>
                                <div class='page'>
                                    <h4>The Best Ally</h4>
                                    <p>At Olympus Corporation, heroes also have the right to safety and comfort. More than 95% of the damages caused during missions are taken care of by the agency without forgetting the care of the employees injured during fights. </p>
                                </div>
                            </li>
                            <!---->
                            <li class='slide'>
                                <div class='page'>
                                    <h4>At the Heart of Innovation</h4>
                                    <p>The agency has its own laboratories and works hard to provide all heroes with first rate equipment. The quirks are studied to offer costumes and weapons adapted to each.<br><br>Olympus Corporation works in cooperation with  greats scientist of I-Island. </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
            </section>
            <aside>
                <h4> Le site en quelques chiffres </h4>
                
                <article>
                    <h4> Nombre d'animaux : {{sujet}}</h4>
                </article>
                
                <article>
                    <h4> Nombre de plante </h4>
                    <!-- A DYNAMISER
                    Requete SQL pour compter le nombre de plante présent dans la base de donneés.
                    -->
                </article>
                
                <article>
                    <h4> Nombre de molecules </h4>
                    <!-- A DYNAMISER
                    Requete SQL pour compter le nombre d'éléments présent dans la base de donneés.
                    -->
                </article>

                <article>
                    <h4> Nombre d'entrées </h4>
                    <!-- A DYNAMISER
                    Requete SQL pour compter le nombre d'éléments présent dans la base de donneés.
                    -->
                </article>

            </aside>
            <footer>
                <ul>
                    <li><a href="{% url "condition" %}"> Condition d'utilisation </a></li>
                    <li><a href="{% url "confident" %}"> Confidentialité </a> </li>
                    <li><a href="{% url "cookies" %}"> Cookies </a></li>
                    <li><a href="{% url "aPropos" %}"> A propos </a></li>
                    <li><a href="{% url "contact" %}"> Nous Contacter </a></li>
                </ul>
                <p> Les licences </p>
            </footer>
            
        </div>
	
	</body>
</html>