{% extends 'acceuil/base.html' %}
    {% block content %}
    <section class='listElem'>
         <h2>Espèces Répertorier</h2><br>
        {% for species in species %}
            {{species.published_date}}
            <h2><a href="{% url 'species' pk=species.pk %}">{{species.speciesName}}</a></h2>
        {% endfor %}
    </section>
    <div class="pagination">
        {% if species.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ species.previous_page_number }}"> previous </a>
        {% endif %}

        Page {{ species.number }} of  {{ species.paginator.num_pages }}.

        {% if species.has_next %}
        <a href="?page={{ species.next_page_number }}"> Next </a>
        <a href="?page={{ species.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}


    </div>
    {% endblock %}











